<script src="dashboard-home.component.ts"></script><p>
  dashboard-home works!
</p>

<ion-button (click)="logout()" [disabled]="loading" type="submit">
  SAIR
  <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
</ion-button>
