<ion-grid>
  <ion-row>
    <ion-col>LOGIN</ion-col>
  </ion-row>
</ion-grid>

<form [formGroup]="signForm" (ngSubmit)="submitLogin()" >

  <ion-item>
    <ion-label position="floating">LOGIN</ion-label>
    <ion-input formControlName="email" class="form-control" type="email" clearInput></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">PASSWORD</ion-label>
    <ion-input formControlName="password" class="form-control" type="password" clearInput></ion-input>
  </ion-item>

  <ion-button [disabled]="loading" type="submit">
    ENTRAR
    <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
  </ion-button>

</form>
